.jumbotron{ 
	background-image: url('path/image.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
}  

/* #jumbotron {
    background-image: url(https://www.pexels.com/photo/people-coffee-meeting-team-7096/);
} */

.container {
background-color: blue;

}

.card-title {
font-style: italic;
font-family: fantasy;
}